* {
  padding: 0;
  margin: 0;
}

#header {
  background: rgb(224, 152, 133);
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 0 24px;
  line-height: 46px;
  display: block;
}

.navbar li:hover a {
  background: #ccc;
  color: #000;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-icon {
  color: #000;
  font-size: 20px;
  line-height: 46px;
}